
.sign-in-form {
    padding: 1rem 1.5em;
    border-radius: .5rem;
    background-color: #3d454f;
    width: 40%;
  }
  
  .sign-in-form h4 {
    color: white;
    margin-bottom: 1rem;
    font-weight: 600;
    text-transform: uppercase;
  }
  
  .sign-in-form label {
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    font-weight: 600;
    margin-bottom: 1rem;
  }
  
  .sign-in-form input {
    color: white;
  }
  
  .sign-in-form input:focus {
    opacity: .8;
  }
  
  .sign-in-form-username,
  .sign-in-form-password {
    border-radius: 30px;
    border: none;
    opacity: .1;
    transition: all ease .4s;
  }
  
  .sign-in-form-button {
    border-radius: 30px;
    border: 1px solid #fff;
    color: #fff;
    background-color: transparent;
    text-transform: uppercase;
    letter-spacing: 1px;
    width: 100%;
    padding: 1rem;
    transition: all ease .4s;
  }
  
  .sign-in-form-button:hover {
    background-color: white;
    border-color: white;
  }

  #login-center {
      margin-top: 10%;
      text-align: center;
      justify-content: center;
      margin-left: 30%;
      margin-right: 30%;
  }
  
  #loginContainer {
    background: url("./image/JimmieFoxx.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 1500px;
    font-weight: bold;
    color: white

}