.center {
    text-align: center;
}

#homeContainer {
    background: url("./image/BabeRuth.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 1500px;
    font-weight: bold;
    color: white

}

#welcome {
   background-color: black;
   opacity: .55;
   color: white; 
   text-align: center;
   font-weight: bolder;
}