#workoutPageTitle {
    background-color: black;
    opacity: .55;
    color: white; 
    text-align: center;
    font-weight: bold;
}
#workoutContainer {
    background: url("./image/StanMusial.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
}

#inputForm {
    background-color: black;
    opacity: .55;
    color: white; 
    text-align: center;
    font-weight: bolder;
}

#yourWorkouts {
    background-color: black;
    opacity: .55;
    color: white; 
    text-align: center;
    font-weight: bold;
}

#recentWorkouts {
    background-color: black;
    opacity: .55;
    color: white; 
    text-align: center;
    font-weight: bold;
}