
#workoutContainer {
    background: url("./image/StanMusial.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    
    height: 100%;
    color: white;
    font-weight: bold;
}

/* #workoutContainer::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.4);
} */