#vgContainer {
    background: url("./image/WillieMays.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    
    height: 1500px;
    color: white;
    font-weight: bolder;
}

#vgTitle {
    background-color: black;
    opacity: .65;
    color: white; 
    text-align: center;
    font-weight: bolder;
}

#right-column {
    background-color: black;
    opacity: .65;
    color: white; 
    text-align: center;
    font-weight: bolder;
}

#left-column {
    background-color: black;
    opacity: .65;
    color: white; 
    text-align: center;
    font-weight: bolder;
}

.gamesDisplay {
    font-size: 20px;
    color: #D50032;
    text-align: left;
    padding-left: 30px;
}