h5 {
    text-align: center;
}

#vgContainer {
    background: url("./image/WillieMays.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    
    height: 1500px;
    color: white;
    font-weight: bold;
}